.asideBlock {
    background-color: #eaeaf5;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.asideBlock a {
    color: #5555c4;
    text-decoration: none;
    font-weight: 500;
}

.asideBlock a:hover {
    text-decoration: underline;
}
