.button {
    color: #fff;
    background-color: #5555c4;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #4040a0;
}
