.dark {
    background-color: #1a1a1d;
    color: #f7f7f7;
}

.page.dark {
    background-color: #1a1a1d;
    color: #f7f7f7;
}

.dark .section,
.dark .nav {
    color: #f1f1f1;
    background-color: #232327;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
}

.dark .table__cell--header {
    background-color: #5555c4;
    color: #fff;
}

.dark .table {
    border-color: #444;
}

.dark .table__row:nth-child(even) {
    background-color: #2a2a2f;
}

.dark .table__row:nth-child(odd) {
    background-color: #1f1f23;
}

.dark .table__row:hover {
    background-color: #343446;
}

.dark .table__cell {
    border-color: #444;
    color: #f1f1f1;
}

.dark .aside {
    background-color: #2a2a2f;
    border: 1px solid #444;
    color: #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dark .aside a {
    color: #8a8aff;
}

.dark .aside a:hover {
    color: #b3b3ff;
    text-decoration: underline;
}

.dark .aside p {
    color: #ccc;
}
