.header {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    color: #5555c4;
    margin-bottom: 10px;
    font-size: 2rem;
}
