.navigation { 
    max-width: 1000px;
    padding: 5px;
    display: flex;
}

.navigation__list {
    flex-grow: 1;
    padding: 10px;
    margin: 4px;
    display: inline;
    color: white;
    background-color: rgb(21 29 40);
    border-radius: 6px;
    box-shadow: 2px 1px 3px 3px rgba(32, 37, 44, 0.726);
    padding: 10px;
    margin: 4px
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: white;
    border: 1px solid;
    outline: none;
}