.sectionBlock {
    margin: 25px 0;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.dark .sectionBlock {
    background-color: #232327;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
}

.sectionBlock__heading {
    color: #5555c4;
    margin-bottom: 10px;
}

.sectionBlock__text {
    margin-bottom: 10px;
}

.sectionBlock__image {
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
