.section__heading {
    color: white;
    font-size: 26px;
    background-color: rgb(31, 58, 99);
    border-radius: 20px;
    box-shadow: 2px 1px 3px 3px #7a7a7a;
    padding: 8px;
    margin: 35px
}

.section__title {
    color: white;
    font-size: 20px;
    background-color: rgb(31, 58, 99);
    border-radius: 20px;
    box-shadow: 2px 1px 3px 3px #7a7a7a;
    padding: 4px;
}

.section__text {
    color: white;
    background-color: rgb(31 58 99 / 78%);
    border-radius: 20px;
    box-shadow: 2px 1px 3px 3px #7a7a7a;
    padding: 3px 10px;
}

.section__table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%
}

.section__tableCell {
    border: 1px solid black;
    background-color: rgba(206, 206, 206, 0.78);
    padding: 20px;
    text-align: center;
}

.section__tableHeader {
    background-color: rgb(31 58 99 / 78%);
    color: white;
    font-weight: normal;
}

.section-tableRow:hover {
    background-color: #ddd;
}

.section__container {
    overflow-x: auto;
}