.section {
    margin: 25px 0;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.about__avatar {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
}

.about__content {
    flex: 1;
    min-width: 250px;
}


.dark .section {
    background-color: #232327;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
}

.section__heading {
    color: #5555c4;
    margin-bottom: 10px;
}

.section__text {
    margin-bottom: 10px;
}

.section__image {
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section--pets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section--pets .section__images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.section--pets .section__image {
    flex: 1 1 250px;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}