html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.page {
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    max-width: 1000px;
    color: #222;
    background-color: #f7f7f9;
}
