html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    padding: 3%;
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: white;
    line-height: 1.5;
}

.dark {
    max-width: 1000px;
    margin: auto;
    padding: 3%;
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: rgba(31, 28, 28, 0.733);
    line-height: 1.5;

}

.main__button {
    display: block;
    color: white;
    background-color: rgba(21, 29, 40, 0.747);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 3px rgb(21 29 40);
    display: inline;
    padding: 10px;
}

.name {
    color: white;
    font-size: 35px;
    background-color: rgb(31, 58, 99);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 3px rgba(106, 142, 197, 0.733);
    padding: 10px;
    margin: 30px
}

.footer {
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.header__photo {
    border-radius: 50%;
    margin-bottom: 10px;
    
}